@model List<ecommerce_asp.Models.Customer>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="background:white; padding:20px; border-radius:10px;">
    <h3 style="margin-top:0;">Quản lý khách hàng</h3>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Địa chỉ</th>
                <th>Vai trò</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerId</td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Address</td>
                    <td>@item.Role</td>
                </tr>
            }
        </tbody>
    </table>
</div>